.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--resaltador);
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 2vh;
}